@import "tailwindcss";

@font-face {
  font-family: 'jf-openhuninn-2.1';
  src: url('/fonts/jf-openhuninn-2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klee One';
  src: url('/fonts/KleeOne-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fffdf8;         /* 柔和黃 */
  --foreground: #1e1e1e;         /* 深灰黑 */
  --primary: #f47c41;            /* 橘色按鈕 */
  --accent-pink: #ff6ea9;        /* 粉紅裝飾 */
  --accent-green: #4ee197;       /* 綠色裝飾 */
  --card-bg: #ffffff;            /* 卡片底色 */
  --border-color: #e0d7c8;       /* 柔和邊框 */
  --subtext-color: var(--color-gray-600);      /* 次要文字 */
  --primary-shadow-color: var(--color-gray-900); /* 主要文字 */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #f0f0f0;
    --primary: #f98e60;
    --accent-pink: #ffa1c9;
    --accent-green: #6ee7b7;
    --card-bg: #252525;
    --border-color: #444444;
  }
} */

.dark {
  --background: #1b1b1b;
  --foreground: #f0f0f0;
  --primary: #f98e60;
  --accent-pink: #ffa1c9;
  --accent-green: #6ee7b7;
  --card-bg: #252525;
  --border-color: #444444;
  --subtext-color: var(--color-gray-400);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'jf-openhuninn-2.1', 'Klee One', Arial, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
